<%= div_for comment do %>
<p>
	<strong>Posteado <%= time_ago_in_words(comment.created_at) %>
	ago</strong><br />
	<%= h(comment.body) %>
	<% @user= User.find(comment.user_id) %>
	<br>de <%= raw(@user.name) %>
</p>
<% end %>
