#sidebar
{
	float:right;
	display:inline;
	position: absolute;
	right:0;
	width:100px;
	height:100%;
}
#main
{
	height:100%;
	float:left;
	margin-left:150px;
}
#header
{
	background-image: url(../images/fons.jpg);
}
