#contenedortotal{
	margin: 0 auto;
	height: 100%;
}
#contenedorweb{
	margin: 0 auto;
	height: 100%;
	width:960px;
}
#container2 {
	position:relative;
	float:left;
	width:100%;
	background-color: #BBB;
	right: 200px;
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
	right:0px;
	background-color: #000;
}
#cuerpogeneral
{
	overflow: hidden;
	height:100%;
	float:left;
	padding-left:30px;
	padding-right:30px;
	background-color: #BBB;
	width: 900px;
}
#lateral
{
	background-color: #000;
	float:right;
	width: 200px;
	text-align: right;
	display:inline;
	position: relative;
	height:100%;
	left: 200px;
}
#topmenu
{
	height:60px;
	width: 100%;
	text-align:center;
	background-color: #000;
}
#cap
{
	height: 240px;
	width: 960px;
	background-color: #000;
}
#headermiddle{
	height: 150px;
}
#headertop
{
	height: 30px;
	background-image: url(../images/pelicula.jpg);
	background-repeat: repeat-x;
}
#headerbottom
{
	height: 30px;
	background-image: url(../images/pelicula.jpg);
	background-repeat: repeat-x;
}
