/* main vertical scroll */
	#mainscroll {
		position:relative;
		overflow:hidden;
		height:700px;
	}
	
	/* root element for pages */
	#pages {
		position:absolute;
		height:20000em;
	}
	
	/* single page */
	.page {
		padding-left:0px;
		height:600px;
		background:#BBB;
		width:900px;
	}
	
	/* root element for horizontal scrollables */
	.scrollable {
		position:relative;
		overflow:hidden;
		width:900px;
		height:600px;
	}
	
	/* root element for scrollable items */
	.scrollable .items {
		width:20000em;
		position:absolute;
		clear:both;
	}
	
	/* single scrollable item */
	.item {
		float:left;
		cursor:pointer;
		width:900px;
		height:600px;
		padding-left: 0px;
	}
	
	
