<!-- root element for the main scrollable --><br>
<div id="mainscroll">
	<!-- root element for pages -->
	<div id="pages">
		<% @sesions.each do |e| %>
			<div class="page">
				<div class="scrollable">
					<div class="items">
						<div class="item">
							<%= link_to image_tag(e.image.url), e %>			
							<br><br><strong>
				<center><span style="font-size:17px;" ><%= e.title %></span></center>
							</strong>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		<% @noticias.each do |a| %>
			<div class="page">
				<div class="scrollable">
					<div class="items">
						<div class="item">
							<%= link_to image_tag(a.image.url), a %>			
							<br><br><strong>
				<center><span style="font-size:17px;" ><%= a.title %></span></center>
<br>
							</strong>
						</div>
					</div>
				</div>
			</div>
		<% end %>

	</div>

</div>
<script>
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(document).ready(function() {

// main vertical scroll
$("#mainscroll").scrollable({



	// basic settings
	vertical: true,

	// up/down keys will always control this scrollable
	keyboard: 'static',
	circular: true,
next: '.scrollableOneNext', 
prev: '.scrollableOnePrev'

// main navigator (thumbnail images)
}).navigator("#mainscroll_navi").autoscroll({
	interval: 3000,
	autoplay: true,	
});

});
</script>

