<div id="sidebar">
<p><%= link_to "Films", films_path %></p>
<hr>
<p><%= link_to "Enquestes", enquestas_path %></p>
<hr>
<p><%= link_to "Registrar-se", register_user_path %></p>
<hr>
<p><%= link_to "Login", login_user_path %></p>
<hr>
</div>
