<table>
  <tr>
    <th>Títol</th>
    <th>Director</th>
    <th>Any</th>
  </tr>

<% @films.each do |film| %>
  <tr>
<td><%= link_to_unless_current h(film.title), film %></td>
    <td><%= film.director %></td>
    <td><%= film.year %></td>
  </tr>
<% end %>
</table>

<br />

<% if admin_signed_in? %>
<%= link_to 'New Film', new_film_path %>
<% end %>
